<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.student.dal.RoleMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.student.domain.Role">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>
    <select id="findAllByIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role
        where
        id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </select>
</mapper>
